.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
.wrapper_fadeInDown{
    position: absolute;
    left:170px;
    
}

#formContent {
  height:230px;
  width: 700px;
  overflow: auto;
  border-width:2px;
  border-style:solid;
  border-color: #ccc;
  
}

#table_call {
  margin:4px;
  border-radius: 5px;
}


table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  top:-10px;
  z-index: 1000;
  height: 45px;
  position: sticky;
  text-align: left;
  background: rgb(36, 35, 35); 
  color: white; 
  padding: 7px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  font-weight: bold; 

}
td { 
  padding: 6px; 
  border: 1px solid #ccc;  
  text-align: left; 
}

#logout {
  position: fixed;
  left:420px;
  margin-top: 6px;
  padding: 8px 18px;
}

button {
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: #555555;
  color: white;
}


#lastLogin{
  height:230px;
  width: 400px;
  margin-left:30px ;
  overflow: auto;
  float: left;
  border-width:1px;
  border-style:solid;
  border-color: #ccc;
  
}

div.container {
  width: 210%;
  height: 235px;
  background-color:"black";
  position: fixed;
  display: flex;
  
}

.h5-container{
  display: flex;
}

.latestLogins{
  margin-left: 600px;
}